<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello from {{ name }}</title>
</head>
<body>
    <header>
        <h1>WELCOME TO {{ name }}-page</h1>
    </header>
    <footer>
        <p>thank you</p>
    </footer>
</body>
</html>